<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040328173483-37hbg8dn6r6dku961n53n5cjl50jdgpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040328173483-37hbg8dn6r6dku961n53n5cjl50jdgpf</string>
	<key>API_KEY</key>
	<string>AIzaSyDRbbbBAXubkJ3aSqEvyaHhrY8sQnxHFNo</string>
	<key>GCM_SENDER_ID</key>
	<string>1040328173483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exadmob</string>
	<key>PROJECT_ID</key>
	<string>exadmob</string>
	<key>STORAGE_BUCKET</key>
	<string>exadmob.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040328173483:ios:67716fd217d2d4b98814ee</string>
	<key>DATABASE_URL</key>
	<string>https://exadmob.firebaseio.com</string>
</dict>
</plist>